{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Entry: {% endblock %}</h1>
    <form method="post">
        <label for="title">ID:</label>
        <br>
        <input type="text" name="title"
               placeholder="123456789"
               value="{{ request.form['title'] }}"></input>
        <br>

        <label for="content">Access:</label>
        <br>
        <textarea name="content"
                  placeholder="10.1.1.1/24"
                  rows="10"
                  cols="60"
                  >{{ request.form['content'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}